table{
    width: 100%;
    background-color: gray;
    line-height: 1.5em;
}
td, th{
    background-color: black;
    border:white 1px solid;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    color: white;
}
th{
    background-color: white;
    color: black;
}
.low{
    background-color: lightgreen;
    color: black;
}
.mid{
    background-color: rgb(255, 199, 95);
    color: black;
}
.high{
    background-color: rgb(226, 78, 108);
    color: black;
}